<li (mouseenter) = "showButton()"
    (mouseleave) = "hideButton()"
    style="list-style-type:none">
    <mat-checkbox
      [(ngModel)]="checkboxFlag"
      (change) = "checkChange()">
    </mat-checkbox>  
    <span   *ngIf = "!showEditField"
            (click) = "showEdit()"> {{ text }} </span>

    <mat-form-field *ngIf = "showEditField">
        <input [(ngModel)] = "text" matInput >
    </mat-form-field>

    <button mat-raised-button
            *ngIf = "showEditField"
            (click) = "save()">Save</button>

    <button mat-raised-button
            *ngIf = "showEditField"
            (click) = "cancel()">Cancel</button>        

    <button mat-raised-button
            (click) = "deleteTodo()"
            *ngIf = "showTheButton">
            Delete</button>

</li>